@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400&family=Ubuntu:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul {
  list-style-type: none; }

.fondo {
  background-image: linear-gradient(163deg, #c5c6c6 5%, #e1e2e2 42%, #7a7a7b 69%); }

main h1 {
  font-family: "Kalam", cursive;
  text-align: center;
  margin: 1rem;
  color: #a70016;
  text-shadow: 1px 2px #423d3d; }

main h2 {
  font-family: "Kalam", cursive;
  margin: 1rem;
  text-align: center;
  text-shadow: 1px 1px grey; }

main h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  font-family: "Kalam", cursive;
  font-size: 24px;
  color: #a70016;
  text-shadow: 1px 1px #423d3d;
  padding: 1rem; }

.container {
  justify-content: space-around; }
  .container .col {
    flex: 1 0 0%;
    display: flex;
    align-items: center;
    justify-content: space-around; }
    .container .col .carrusel-index {
      margin: 1rem;
      width: 22rem; }
      .container .col .carrusel-index .card-title {
        margin-bottom: var(--bs-card-title-spacer-y);
        margin: 10px;
        font-family: "Kalam", cursive;
        color: #a70016;
        text-shadow: 1px 1px #423d3d;
        font-size: 24px; }
      .container .col .carrusel-index .card-text {
        margin: 1rem;
        background: none;
        color: black;
        font-size: 18px;
        font-family: "Kalam", cursive; }
      .container .col .carrusel-index .button {
        border-radius: 8px;
        background: #383a3a;
        color: white;
        box-shadow: 3px -2px 4px 1px #7a7a7b;
        font-family: "Kalam", cursive;
        border: none;
        text-decoration: none;
        padding: 5px; }
        .container .col .carrusel-index .button:hover {
          color: #a70016; }

.container a:hover {
  --bs-link-hover-color: $rojo; }

.logoContainer {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  padding: 4px;
  background-color: #ffffff; }
  .logoContainer img {
    width: 100px; }

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #3b3838 !important;
  min-height: 15vh; }
  .header .navbar {
    --bs-navbar-color: rgb(255 253 253 / 90%); }
    .header .navbar .nav-link {
      font-family: "Kalam", cursive;
      font-size: 24px;
      --bs-nav-link-color: rgb(255 253 253 / 90%); }
      .header .navbar .nav-link:hover {
        --bs-nav-link-hover-color: #ff00229f; }
        .header .navbar .nav-link:hover:active {
          font-weight: 900; }
    .header .navbar .navbar-toggler-icon {
      background-color: #a700168f;
      border-radius: 4px; }
  .header .logo {
    padding: 5px;
    width: 235px; }
  .header img:hover {
    transform: scale(1.1, 1.1);
    transition: 0.3s; }

footer i {
  color: #212529; }
  footer i:hover {
    color: #a70016; }

.redes {
  display: flex;
  align-items: center;
  background-color: inherit;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  border: none; }

.linea {
  border-top: 3px solid #a70016;
  box-shadow: 0 -5px 5px -5px #0f0f0f; }

.list-group {
  display: flex;
  align-items: center;
  background-color: inherit;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0.5rem;
  --bs-list-group-border-radius: 0rem; }
  .list-group .list-group-item {
    background-color: inherit;
    border: none; }
    .list-group .list-group-item .ssn {
      width: 200px;
      margin: 2px; }
  .list-group .footer-txt {
    font-weight: bold;
    font-size: 16px;
    width: 250px;
    text-align: center;
    font-family: "Kalam", cursive;
    background-color: inherit;
    border: none; }

.grid-seguros {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  align-content: center;
  align-self: center;
  max-width: 950px;
  margin: 0 auto;
  padding: 15px; }
  .grid-seguros .grid-seguros div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    margin: 12px;
    font-family: "Ubuntu", sans-serif;
    font-size: 16px; }
  .grid-seguros .polizas {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10rem; }
    .grid-seguros .polizas .polizas-txt {
      font-size: 12px;
      font-family: inherit;
      text-align: center;
      font-weight: bold;
      color: #000000;
      width: 250px;
      text-shadow: 1px 1px #d3d3d3; }
    .grid-seguros .polizas .hvr-float {
      display: inline-block;
      vertical-align: middle;
      -webkit-transform: perspective(1px) translateZ(0);
      transform: perspective(1px) translateZ(0);
      box-shadow: 0 0 1px rgba(0, 0, 0, 0);
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-property: transform;
      transition-property: transform;
      -webkit-transition-timing-function: ease-out;
      transition-timing-function: ease-out; }
    .grid-seguros .polizas .hvr-float:hover,
    .grid-seguros .polizas .hvr-float:focus,
    .grid-seguros .polizas .hvr-float:active {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px); }
    .grid-seguros .polizas img {
      width: 75px; }

.main.servicios {
  margin-bottom: 2rem; }

.servicios {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  align-items: center; }

.formulariosServicios {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
  width: 250px;
  height: 200px;
  box-shadow: 6px 4px 6px 2px #333; }
  .formulariosServicios .hvr-float {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out; }
  .formulariosServicios .hvr-float:hover,
  .formulariosServicios .hvr-float:focus,
  .formulariosServicios .hvr-float:active {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px); }

.contactForm {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 16px;
  border-radius: 20px;
  margin: auto;
  border: solid #a70016;
  margin-top: 20px;
  max-width: 600px; }
  .contactForm .button {
    width: 100px;
    border-radius: 8px;
    background: #383a3a;
    color: white;
    box-shadow: 3px -2px 4px 1px #7a7a7b;
    font-family: "Kalam", cursive;
    border: none; }
    .contactForm .button:hover {
      color: #a70016; }

.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #2e2f30;
  outline: 0;
  box-shadow: 0 0 0 0.25rem #2d2d2e40; }

.ubicacion {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px; }

@media (max-width: 768px) {
  .header .logo {
    width: 200px; }
  .polizas {
    width: 7rem; }
    .polizas .polizas-txt {
      max-width: 150px; }
  .ssn {
    width: 150px;
    margin: 4px; } }

@media (max-width: 576px) {
  .logoContainer img {
    width: 125px; }
  .header .logo {
    width: 175px; }
  .grid-seguros {
    grid-template-columns: repeat(2, 1fr); }
    .grid-seguros .polizas {
      width: 5rem; }
      .grid-seguros .polizas .polizas-txt {
        max-width: 100px;
        margin: 0 auto;
        padding: 3px; }
  i {
    width: 50px; } }
