h1 {
  margin-top: 6rem;
}
h2 {
  margin: 2rem;
}

.contactForm {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 16px;
  border-radius: 20px;
  margin: auto;
  border: solid $rojo;
  margin-top: 20px;
  max-width: 600px;
  font-family: $ubuntu;
  .button {
    width: 130px;
    font-size: 18px;
    align-self: center;
    @include button;
  }
}
.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: $gris_oscuro;
  outline: 0;
  box-shadow: 0 0 0 0.25rem #2d2d2e40;
}
.form-select:focus {
  border-color: $gris_oscuro;
  outline: 0;
  box-shadow: 0 0 0 0.25rem #2d2d2e40;
}
h3 {
  font-family: $ubuntu;
  font-size: 20px;
  margin: 10px;
  text-shadow: 0 0 0 0.25rem #2d2d2e40;
  text-align: center;
}

.ubicacion {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}
