//GRID PARTICULARES
.grid-seguros {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
  grid-auto-rows: minmax(180px, auto);
  gap: 20px;
  padding: 20px;
  grid-auto-flow: dense;
  max-width: 925px;
  margin: 0 auto;
  .poliza {
    display: flex;
    align-items: center;
    justify-content: center;

    border: solid 6px #521f1f;
    border-radius: 4px;
    transition: transform 0.3s ease-in-out;
    box-shadow: 6px 4px 6px 2px #363535;
    padding: 15px;
    &:hover {
      filter: opacity(0.9);
      transform: scale(1.04);
    }
    .polizas-txt {
      width: 230px;
      text-align: center;
      font-weight: bold;
    }
    i{
      color: $gris_oscuro;
      font-size: 85px;
      text-shadow: -7px 5px 5px #9f7979;
    }
  }

  .wide {
    grid-column: span 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .tall {
    grid-row: span 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}


