.servicios {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  align-items: center;
  justify-content: space-around;
  min-height: 400px;
  max-width: 950px;
  margin: 0 auto;
}
.post {
  width: 200px;
  height: 200px;
  position: relative;
  border-radius: 20px;
  background-image: url(https://img.freepik.com/foto-gratis/fondo-gris-pintado_53876-94041.jpg?w=740&t=st=1663728543~exp=1663729143~hmac=de77a0af0c5e9e84291a6d17edf8aef5e965c7b399f738efc89d194598183277);
  overflow: hidden;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;

  i {
    font-size: 115px;
    display: block;
    color: #521f1f;
  }
  .cover {
    width: 0%;
    height: 100%;
    background: #4d4b4b9a;
    opacity: 30;
    position: absolute;
    top: 0;
    display: flex;
    justify-items: center;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
    align-items: center;
    h6 {
      color: #000000;
      font-weight: bolder;
    }
  }
}
.post:hover .cover {
  width: 100%;
}
