@media (max-width: 992px) {
  body {
    padding-top: 70px;
  }
  .header {
    height: 60px;
    .nav {
      .nav_menu {
        flex-direction: column;
        align-items: center;
        margin-right: 20px;
        padding: 20px 0;
        margin-top: 10px;
        background-color: #361313;
        position: fixed;
        top: 60px;
        width: 100%;
        z-index: 1;
        height: calc(100% -60px);
        overflow-y: auto;

        left: 0%;
        transition: left 0.5s;

        .nav_item_link:hover,
        :active {
          background-color: none;
          color: #000000;
        }
      }
      .nav_menu_visible {
        left: 100%;
      }
      .nav_toggle {
        display: block;
      }
    }
    .logo {
      padding: 0px 20px;
      line-height: 60px;
      img {
        width: 125px;
        margin-bottom: 10px;
      }
    }
  }
  h1 {
    margin-top: 0rem;
  }
}

@media (max-width: 768px) {
  .header .logo {
    width: 200px;
  }
  .polizas {
    width: 7rem;
    .polizas-txt {
      max-width: 150px;
    }
  }
  .ssn {
    width: 150px;
    margin: 4px;
  }
}
@media (max-width: 576px) {
  .header .logo {
    width: 175px;
  }
  .header .navbar .nav-link {
    font-size: 18px;
  }
  .logoContainer img {
    width: 125px;
  }
  .grid-seguros {
    grid-template-columns: repeat(2, 1fr);
    .polizas {
      width: 5rem;
      margin: 5px;
      .polizas-txt {
        width: 175px;
        margin: 0 auto;
        padding: 3px;
      }
    }
  }
  .formularios i {
    width: 50px;
  }
  .footer-txt {
    font-size: 12px;
  }
}

@media (max-width: 365px) {
  .grid-seguros {
    grid-template-columns: repeat(1, 1fr);
    .polizas {
      width: 5rem;
      main h6 {
        margin: 0.5rem;
      }
      .polizas-txt {
        max-width: 250px;
        padding: 3px;
      }
    }
  }
}
